{%extends 'base.html'%}
{% block content %}
{% include 'navbar.html' %}

{{block.super}}

<div class="container">
  <div class="row">
   {% if profile %}
    <h2 class="text-center">Found {{ profile |length}} profiles for searched term {{message}}</h2>
    <div class="container">
      <div class="row">     
          <div class="col-lg-4">
            {% for profile in profile %}
              <div class="card p-0">
                  <div class="card-image">
                      <img src="{{profile.profile_picture.url}}" alt="">
                  </div>
                  <div class="card-content d-flex flex-column align-items-center">
                      <h4 class="pt-2">{{profile.user.username.capitalize}}</h4>
                      <h5>{{profile.profile_category}}</h5>
                      <a href="{% url 'public-profile' username %} " class="btn btn-secondary mt-3 mt-md-4 px-4">More details</a>
    
                      <ul class="social-icons d-flex justify-content-center">
                          <li style="--i:1">
                              <a href="#">
                                  <span class="fab fa-facebook"></span>
                              </a>
                          </li>
                          <li style="--i:2">
                              <a href="#">
                                  <span class="fab fa-twitter"></span>
                              </a>
                          </li>
                          <li style="--i:3">
                              <a href="#">
                                  <span class="fab fa-instagram"></span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
   
     {% else %}
         <h2 class="text-center">Found 0 profiles for the search term {{message}}</h2>
         {% endif %}
     </div>
 </div>
 
 {% endblock %}
 